* { margin: 0; padding: 0;}
body {
    background-color: black;
    font-family: 'VT323', monospace;
    color: hotpink;
}



/* NAV*/


  nav {
        background-color: black;
        height: 64px;
        width: 100%;
        color: rgb(25, 206, 25);
        margin-top: 0;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: center;
        top: 0px;
        border: rgb(25, 206, 25) solid 2px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
    }

    nav ul li {
        margin-left: 10px;
        margin-right: 10px;
        color: hotpink;
    }
    a {
        text-decoration: none;
    }
    a.nav {
        color: hotpink;
    }

    a.nav:hover {
        color: rgb(112, 17, 180);
    }



    /*CONTENT*/
h4 {
    font-size: 30px;
}
h3 {
    font-size: 40px;
}
    .content {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .title h2 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .box {
        border: rgb(112, 17, 180) solid 3px;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .container {
       width: 90%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
      margin: 20px;
   }
   .small {
       width: 50%;
       border: solid 2px rgb(25, 206, 25);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
   }
   .big {
       width: 100%;
       border: solid 2px rgb(25, 206, 25);
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px 20px;
   }
   .big a {
       text-decoration: none;
       color: hotpink;
   }
   .big a:hover {
       font-size: 50px;
   }
   .container img {
       width: 40px;
       height: auto;
   }

   .click img:hover {
  width: 50px;
  height: auto;
   }

    .button {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .back {
        font-family: 'VT323', monospace;
        background-color:rgb(112, 17, 180);
        color: hotpink;
        border: 3px  hotpink solid;
        border-radius: 7px;
        display: inline-block;
        margin-top: 40px;
        font-weight: bold;
        font-size: 30px;
        padding: 8px 30px 8px 30px;
        cursor: pointer;
        margin-bottom: 6vh;
        
    }
    .back:hover {
        font-family: 'VT323', monospace;
        background-color:rgb(112, 17, 180);
        color: hotpink;
        border: 3px rgb(112, 17, 180) solid;
        border-radius: 7px;
        display: inline-block;
        margin-top: 40px;
        font-weight: bold;
        font-size: 30px;
        padding: 8px 30px 8px 30px;
        cursor: pointer;
    }
    .back:active {
        font-family: 'VT323', monospace;
        background-color: hotpink;
        color: rgb(112, 17, 180);
        border: 3px hotpink solid;
        border-radius: 7px;
        display: inline-block;
        margin-top: 40px;
        font-weight: bold;
        font-size: 30px;
        padding: 8px 30px 8px 30px;
        cursor: pointer;
    }
    
    /*FOOTER*/


footer {
    bottom:0;
    width: 100%;
    position: ;

}
    footer div {
        background-color: black;
        color: rgb(25, 206, 25);
        height: 64px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-self: center;
        border: rgb(25, 206, 25) solid 2px;
    }
    
    footer div h4 {
        margin-left: 20px;
        color: hotpink;
        font-size: 15px;
    }

    @media only screen and (max-width: 768px){
.big h3 {
    font-size: 30px;
}

.small h4 {
    font-size: 20px;
}
    }